<div class="row">
  <div class="col s9">
  <%= render partial: "partials/flash"%>
  <div class="row">  
  <div class="col s9">
    <div class="card">
      <div class="card-content">
      <h4>Active Officers in GCPD</h4>  
      <%= render partial: "partials/index_structure", locals: {model_name: "officer", 
                                                                primary: "officers_list", 
                                                                secondary: nil,
                                                                sidebar: nil} %>
      </div>
    </div>
  </div>
</div>
</div>
</div>