<div class="row">  
  <h4>Welcome to GCPD Webmaster by YOUR NAME HERE</h4>  
  <div class="col s9">
  <%= render partial: "partials/flash"%>
  <%= render partial: "partials/nav"%>
    <div class="card">
      <div class="card-content">
        <p>Welcome to GCPD! This is YOUR NAME HERE (Baron). I will change this later.
        </p>
      </div>
    </div>

  </div>
</div>
