<div class="row">  
  <h4>Welcome to GCPD Webmaster by Baron Niu</h4>  
  <div class="col s9">
  <%= render partial: "partials/flash"%>
    <div class="card">
      <div class="card-content">
        <p>Welcome to GCPD! This is Baron Niu. I am the head chief of police and creator of the GCPD app. 
        This is designed for you to track progress and information for officers, units, investigations, assignments, and
        all things police business. 
        </p>
      </div>
    </div>

  </div>
</div>
