<div class="row">  
  <h4>Active Units in GCPD</h4>  
  <div class="col s9">
    <%= render partial: "partials/flash"%>
    <%= render partial: "partials/nav"%>
    <div class="card">
      <div class="card-content">
      <%= render partial: "partials/index_structure", locals: {model_name: "unit", 
                                                       primary: "units_list", 
                                                       secondary: nil,
                                                       sidebar: nil} %>

      </div>
    </div>
  </div>
</div>

