<div class="row">  
  <div class="col s9">
  <%= render partial: "partials/flash"%>
    <div class="card">
      <div class="card-content">
        <%= render partial: "partials/form_structure", locals: {object: @unit, 
        type_of_form: "New Unit",
        fields: "unit_fields"} %>
      </div>
    </div>
  </div>
</div>